/*************************************************
    RESET STYLES
 *************************************************/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: 'PT Sans', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*************************************************
    HEADER STYLES
 *************************************************/
nav {
    background-color: #0084fd;
}

.container {
    width: 95%;
    margin: 0 auto;
}

#logo img {
    padding: 15px;
}

#menu {
    font-size: 25px;
}

/*************************************************
    MAIN STYLES
 *************************************************/

/* FEATURES SECTION */

.features {
    padding: 20px 0;
}

.col {
    text-align: center;
    padding: 10px 30px;
    border-radius: 20px;
    width: 85%;
    margin: 20px auto;
}

.azzure-bg{
    background-color: #b5ddff;

}


.col p {
    padding: 30px 0;
    font-weight: bold;
}

.title {
    color: #0084fd;
}

.image {
    width: 80%;
    margin: 0 auto;
}

div img {
    max-width: 100%;
    margin-bottom: -14px;
}

.btn {
    padding: 30px;
}

.btn a {
    text-decoration: none;
    background-color: #0084fd;
    padding: 5px 25px;
    border-radius: 20px;
    letter-spacing: 3px;
}

.btn a:visited {
    color: white;
}

.icon {
    text-align: center;
    font-size: 100px;
}

.icon i {
    color: #0084fd;
}

/* PLANNING SECTION */
.planning {
    background-color: #9792e4;
    padding: 20px 0;
}

.transparent {
    background-color: transparent;
}

.white-bg {
    background-color: white;
}

.text-strategic-planning {
    color: white;
    padding: 20px 0;
}

.text-strategic-planning .title {
    color: white;
}

.text-app-development {
    color: black;
    padding: 20px 0;
}

.text-app-development .title {
    color: black;
}

.text-app-development div a {
    color: black;
    background-color: #9792e4;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 50%;
    font-size: 20px;
}

/* TESTIMONIALS SECTION */
.violet-bg {
    background-color: #9792e4;
}

.violet-color {
    color: #9792e4;
}

.text-testimonials .title {
    padding: 30px 0;
}

.text-testimonials p {
    line-height: 25px;
}

.text-testimonials div {
    padding: 10px 0;
}
.text-testimonial {
    color: white;
    padding: 20px;
    background-color: #9792e4;
    border-radius: 40px;
}

.image-test {
    background-image: url(../image/testimonial1.jpg);
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

/* BENEFIT SECTION */
.benefits .row{
    padding-bottom: 30px;
}

.text-benefits{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 25px;
}

.text-benefit{
    background-color: white;
    color: #9792e4;
    text-align: left;
    padding: 20px;
    border-radius: 40px;
}

.text-benefit .number h1{
    font-size: 40px;
}

.text-benefit .btn a{
    background-color: #9792e4;
}

.text-benefit .title h2{
    color: #9792e4;
}

.text-benefit div{
    padding: 10px 0;
}

/* ABOUT US SECTION */
.image-about{
    background-image: url(../image/about.jpg);
}

.image-about-us div{
    padding: 20px 0;
    text-align: left;
}

.image-about-us .btn a{
    background-color: #9792e4;
}

.text-about-us .paragraph p{
    line-height: 35px;
}

.text-about-us{
    text-align: left;
}

.text-about-us .title{
    font-size: 35px;
}

/* GET STARTED SECTION */
.paragraph p{
    padding: 0;
}

.get-text{
    padding: 30px 0;
    color: white;
}
.get-text div{
    padding: 30px 0;
}

.get-text .title{
    color: white;
}

.get-text .free{
    color: yellow;
    font-size: 40px;
}

.get-text .btn a{
    color:#9792e4;
    background-color: white;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 30px;
}

.get-text .copyright a{
    color: white;
    text-decoration: none;
}

/* FOOT SECTION */
.foot{
    background-color: #333333;
    color: white;
}

.foot .row .col{ 
    margin: 0 auto;
    margin-top: -20px;
}

.text-foot p a{
    color: #9792e4;
}

/* MEDIA QUERY */

/* Tablet Version */
@media all and (min-width: 481px){

    /* FEATURES SECTION */

    .features .container .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 5px;
    }

    .col-2{
        width: calc((100% / 3) * 2 - 10px);
        text-align: left;
        margin: 5px auto;
    }

    .col-3{
        width: calc((100% / 3) - 10px);
        margin: 5px auto;
    }

    .col-2 .image{
        margin: 0;
    }

    .col-2 .btn{
        padding: 40px 0;
    }

    .col-2 .btn a{
        padding: 10px 40px;
    }

    /* PLANNING SECTION */
    .text-strategic-planning{
        text-align: left;
    }


    /* TESTIMONIAL SECTION */
    .text-testimonial{
        display: flex;
        text-align: left;
        align-items: center;
    }

    .text-testimonial div{
        padding-left: 30px;
        
    }

    .image-test{
        flex-basis: 25%;
        height: 150px;
    }

    .info-test{
        flex-basis: 75%;
    }

    /* BENEFIT SECTION */
    .benefits .row{
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .benefits .row .col{
        width: calc((100% /2) - 20px);
    }

    /* ABOUT US SECTION */
    .about-us .row{
        display: flex;
        justify-content: center;
    }

    .text-about-us{
        flex-basis: 80%;

    }

    .info-image h1{
        padding: 35px;
    }
    
    .image-about-us{
        flex-basis: 20%;
    }
    
    .image-about-us .image-test{
        flex-basis: 20%;
        height: 250px;
    }

    .image-about-us div {
        padding: 0;
    }






 

}

/* Desktop Version */
@media all and (min-width: 769px){


    .container{
        width:70%;
        margin: 0 auto;
    }

    /* FEATURES SECTION */
    
    .col-2{
        display: flex;
    }

    .col-2 div.image{
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    .col-2 div.image img{
        width: 250px;
        position: absolute;
        bottom: 0px;
        left: 50px;
    }

    /* PLANNING SECTION */
    .planning .container .row{
        display: flex;
    }

    /* TESTIMONIALS SECTION */
    .image-test{
        flex-basis: 25%;
        height: 250px;
    }

    /* BENEFIT SECTION */
    .benefits .row .col{
        width: calc((100% /3) - 20px);
    }




    /* Footer Section */
    .container-foot{
        width: 50%;
        margin: 0 auto;
    }


}


